<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Task</title>
</head>
<body>
<div >
    <form action="#" th:action="@{/tasks/update/{id}(id=${task.id})}" th:object="${task}" method="post">

        <table >

            <tr>
                <td>Description:</td>
                <td><input type="text" th:field="*{description}" /></td>
            </tr>
            <tr>
                <td>Status:</td>
                <td><input type="text" th:field="*{status}" /></td>
            </tr>

            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>