<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <!--    <link th:href="@{/style.css}" rel="stylesheet" />-->
</head>
<body>

    <h1 th:text="Task + ${task.id}">Task:</h1>
    <p>ID: <span th:text="${task.id}"></span></p>
    <p>Description: <span th:text="${task.description}"></span></p>
    <p>Status: <span th:text="${task.status}"></span></p>
    <p>CompletionTime: <span th:text="${task.completionTime}"></span></p>

    <h1>-------------------------------------------------</h1>

    <div>
        <form action="#"
              th:action="@{/tasks/update/{id}(id=${task.id})}"
              th:object="${task}"
              method="post">
            <label for="description">Description</label>
            <input type="text" th:field="*{description}" id="description" placeholder="description">
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>

            <label for="status">Status</label>

            <select name="status" id="status">
                <option th:each="status : ${T(ru.springgb.sem5HW.Task.Status).values()}"
                        th:value="${status}" th:text="${status}"></option>
            </select>

            <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>

            <input type="submit" value="Update Task">
        </form>
    </div>

</body>
</html>